div.heading {
    display: flex;
    flex-direction: column;
}
div.heading .heading__title {
    color: var(--primary-600);
    font-size: 4rem;
    font-weight: 600;
}

div.heading .heading__title--section {
    font-size: 3rem;
}

div.heading .heading__subtitle {
    font-size: 2.25rem;
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    div.heading .heading__title {
        font-size: 3rem;
    }
    div.heading .heading__subtitle {
        font-size: 1.5rem;
    }
    div.heading .heading__title--section {
        font-size: 2rem;
    }
}