section#about {
    min-height: 600px;
    background-color: var(--background);
}

div#about__text {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 7;
    gap: 28px;
}
div#about__text p {
    font-size: 1.25rem;
}
div#about__photos {
    position: relative;
    align-self: end;
    place-self: center;
    height: 100%;
    max-height: 364px;
    width: 100%;
    max-width: 371px;
    grid-column: 8 / 11;
}

div#about__photos img {
    position: absolute;
    width: 239px;
    height: 244px;
    display: flex;
    object-fit: cover;
}

div#about__photos img:nth-of-type(1) {
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

div#about__photos img:nth-of-type(2) {
    top: 0px;
    right: 0px;
}

@media only screen and (max-width: 1440px) {
    div#about__text {
        grid-column: 1 / span 4;
    }
    div#about__photos {
        grid-column: span 3 / 9;
    }
}

@media only screen and (max-width: 992px) {
    div#about__text {
        grid-column: 1 / span 4;
    }
    div#about__photos {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    div#about__text {
        grid-column: span 2;
    }
    div#about__text p {
        font-size: 1rem;
    }
}