#header {
    position: fixed;
    height: 200px;
    background-color: var(--background);
    z-index: 2;
}
.header--shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--card-border);
}

#header a, img {
    grid-column: 3 / span 2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 1440px) {
    #header a, img {
        grid-column: 1 / span 2;
        max-width: 200px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 992px) {
    #header {
        height: 100px;
    }
    #header a, img {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 576px) {
    #header a, img {
        grid-column: span 1;
    }
    #header {
        grid-template-columns: repeat(2, auto);
    }
}