@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Markazi Text', 'Segoe UI', 'Roboto',
    sans-serif;
}