@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --text: #0E0C05;

  --background: #FAF9F1;

  --primary-50: #fefae7;
  --primary-100: #fdf5ce;
  --primary-200: #faeb9e;
  --primary-300: #f8e16d;
  --primary-400: #f6d73c;
  --primary-500: #f4cd0b;
  --primary-600: #c3a409;
  --primary-700: #927b07;
  --primary-800: #615205;
  --primary-900: #312902;
  --primary-950: #181401;

  --card-border: rgba(49, 41, 2, 0.15);

  --secondary-50: #F6FCF5;
  --secondary-100: #EDF8EB;
  --secondary-200: #DBF1D7;
  --secondary-300: #C9EAC4;
  --secondary-400: #B7E3B0;
  --secondary-500: #A5DC9C;
  --secondary-600: #84B07D;
  --secondary-700: #63845E;
  --secondary-800: #42583E;
  --secondary-900: #212C1F;
  --secondary-950: #111610;


  --accent-50: #F6F1FB;
  --accent-100: #ECE3F6;
  --accent-200: #DAC6EE;
  --accent-300: #C7AAE5;
  --accent-400: #B58DDD;
  --accent-500: #A271D4;
  --accent-600: #825AAA;
  --accent-700: #61447F;
  --accent-800: #412D55;
  --accent-900: #20172A;
  --accent-950: #100B15;

  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Markazi Text', 'Segoe UI', 'Roboto',
    sans-serif;
  background-color: var(--background);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  padding: 0px 70px 0px 70px;
  width: 100%;
  height: 100%;
  align-items: center;
}

section {
  width: 100%;
  height: fit-content;
  min-height: 500px;
  padding-top: 54px !important;
  padding-bottom: 54px !important;
}

h1, h2, h3, h4, h5, h6, button, li, ul, a, span {
  font-family: 'Markazi Text', 'Segoe UI', 'Roboto',
  sans-serif;
  color: var(--text);
  font-weight: 600;
}

p {
  font-family: 'Karla', 'Roboto',
  sans-serif;
  font-weight: 400;
}

main {
  padding-top: 200px;
}

@media only screen and (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 30px 0px 30px;
  }
  p {
    font-family: 'Karla', 'Roboto',
    sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
}